@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@400;700&display=swap");

@font-face {
  font-family: "avutmv2";
  src: url("/fonts/avutmv2.woff2") format("woff2");
}

@import "tailwindcss";
@import "@nuxt/ui";
